# --- Keretrendszer ---
Django==5.2.12

# --- PDF és dokumentumkezelés ---
reportlab==4.1.0
pypdf==3.15.1

# --- Titkosítás és Biztonság ---
cryptography==41.0.7
python-dotenv==1.0.0

# Biztonsági audit eszköz a függőségek ellenőrzéséhez
pip-audit==2.7.2
# Statikus biztonsági elemző a Python kódhoz
bandit==1.7.7
# Automatikus kódformázó a Clean Code stílus kényszerítéséhez
black==24.2.0
